@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <title>:: :: Forgot Password</title>

    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />
    <link rel="stylesheet" href="/assets/css/default.css" />

</head>
<body class="font-muli theme-azure gradient">

    <div class="auth option2">
        <div class="auth_left">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <a class="header-brand" href="index.html"><i class="fa fa-graduation-cap brand-logo"></i></a>
                        <div class="card-title">पासवर्ड विसरलात</div>
                    </div>
                    <p class="text-muted">तुमचा ईमेल पत्ता प्रविष्ट करा आणि तुमचा पासवर्ड रीसेट केला जाईल आणि तुम्हाला ईमेल केला जाईल.</p>
                    <div class="form-group">
                        <label class="form-label" for="exampleInputEmail1">
                            ईमेल पत्ता
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ईमेल प्रविष्ट करा
">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-block">
                            मला नवीन पासवर्ड पाठवा
                        </button>
                        <div class="text-muted mt-4">विसरा, <a asp-controller="Home" asp-action="Login">मला साइन इन स्क्रीनवर परत पाठवा</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>
</html>