@model FileTrackingSystem.ViewModel.Home.LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <title>:: Epic :: Login</title>

    <!-- Bootstrap Core and vandor -->
    @*<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css" />

    *@
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css" />

</head>
<body class="font-muli theme-azure gradient">

    <div class="auth option2">
        <div class="auth_left">
            <div class="card">
                <div class="card-body">
                    <form asp-controller="Home" asp-action="Login" method="post">
                        <!-- Input and Submit elements -->
                        <div class="text-center">
                            <a class="header-brand" href="index.html"><i class="fa fa-brand-logo"></i></a>
                            <div class="card-title mt-3">लॉग इन</div>

                        </div>
                        <div class="form-group">
                            <input asp-for="DDOCode" type="officeddocode" class="form-control" id="officeddocode" aria-describedby="ddocodeHelp" placeholder="ऑफिस डीडीओ कोड टाइप करा">
                        </div>

                        <div class="form-group">
                            <input asp-for="EmailId" type="Email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="तुमचा ईमेल टाइप करा">
                        </div>
                        <div class="form-group">
                            <label class="form-label"><a asp-controller="Home" asp-action="ForgetPassword" class="float-right small">मी माझा पासवर्ड विसरलो</a></label>
                            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="येथे पासवर्ड टाइप करा">
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" />
                                <span class="custom-control-label">माझी आठवण ठेवा</span>
                            </label>
                        </div>
                        <div class="text-center">
                            <a href="index.html" class="btn btn-primary btn-block" title="">Sign in</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Start Main project js, jQuery, Bootstrap -->
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start project main js  and page js -->
    <script src="/assets/js/core.js"></script>
</body>
</html>